body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ff6b6b, #f7b733);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#container {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparente para um efeito de sobreposição */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.separador {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.separador > label {
    width: 30%;
}

.campo {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    text-align: center;
    color: black;
}

.elementoFormulario {
    outline: none;
    font-size: large;
}

#botaoAdicionar {
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin-top: 2rem;
    border: none;
    background-color: #f7b733; /* Cor do botão */
    color: white;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botaoAdicionar:hover {
    background-color: #ff6b6b; /* Cor do botão ao passar o mouse */
}